__pycache__/
apps/__pycache__/
apps/accounts/__pycache__/
apps/authentication/__pycache__/
apps/common/__pycache__/
apps/dashboard/__pycache__/
apps/emergency_addresses/__pycache__/
apps/eventlogs/__pycache__/
apps/job_scheduler/__pycache__/
apps/manage_did/__pycache__/
apps/models/__pycache__/
apps/msteams/__pycache__/
apps/tenants/__pycache__/
core/__pycache__/
elmaTempDir/
downloads/
logs/
__pycache__/
NetworkAutoTempDir/